@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.container {
  width: 80%;
  margin: auto;
}

body {
  font-family: monospace, Varela;
  color: #fff;
  background: linear-gradient(rgb(0, 0, 0, 0.75), rgb(0, 0, 0, 0.75)), url('../images/banner.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
}

.copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  flex-wrap: wrap;
}

.contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 5%;
}

.recent-scores-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-scores {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
  padding: 10px;
}

form input {
  padding: 10px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  color: #000;
  font-weight: bold;
  background-color: rgba(230, 221, 221, 0.973);
  border-radius: 10px;
}

form input:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

form input:focus {
  background-color: rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 2px solid rgba(30, 85, 250, 0.47);
}

#submitBtn {
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #ec5242;
  color: #fff;
  outline: none;
  border: none;
}

#refresh {
  align-self: flex-end;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #ec5242;
  color: #fff;
  outline: none;
  border: none;
}

.score-values {
  padding: 5px;
  margin-top: 0;
  list-style: none;
}

.score-values:nth-child(odd) {
  background-color: #c1c1c1;
  color: #000;
}

.add-scores h3 {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.add-scores h3::after {
  background: #ec5242;
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0%;
  border-radius: 15px;
  width: 70px;
  height: 4px;
  transform: translateX(-50%);
}

.list-of-scores {
  padding: 5px;
  margin-top: 20px;
}

.nav-items li {
  position: relative;
  margin-left: 20px;
}

#scores li {
  list-style: none;
  padding: 5px;
}

#scores li:nth-child(odd) {
  background-color: #c1c1c1;
  color: #000;
}

#scores {
  max-height: 400px;
  overflow: auto;
  border-radius: 5px;
  border: 2px solid #fff;
  padding: 10px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  list-style: none;
  justify-content: space-between;
  column-gap: 10px;
}

.nav-items a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
}

.nav-items li::after {
  content: '';
  width: 0;
  background: coral;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.nav-items li:hover::after {
  width: 100%;
}
